@import "main.css";

.author-card {
    display: flex;
    flex-direction: row;
    /* padding: 1rem; */
    /* gap: 10px; */
    background-color: royalblue;
    justify-content: center;
    min-width: 10rem;
}

.fas {
    font-size: x-large;
    padding: 1rem;
}

.icon {
    max-width: 3rem;
    color: white;
}

.about-blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
}