.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 150px;
    flex-wrap: wrap;
    align-items: center;
}

.footer-form {
    display: flex;
    justify-content: space-between;
}

.form-input {
    border: 2px solid #000;
    border-radius: .8rem;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
}

.form-input:focus {
    outline-style: inherit;
}

button.form-input {
    background-color: #4b28d6;
    border: 2px solid #4b28d6;
    color: #fff;
    font-size: 15px;
}

button.form-input:hover {
    border: 2px solid #000;
    border-radius: .8rem;
    background-color: #ff0;
    color: #000;
    transform: translate(4px, -4px);
    box-shadow: -8px 8px 0 #000;
}

img.social {
    width: 39px;
    height: 39px;
    margin: 5px;
}

img.social:hover {
    background-color: #ff0;
    border-radius: 6px;
}

/* mid-size screens */
@media(min-width:768px) {
    .footer-wrapper {
        flex-direction: row;
    }
}

/* wide screens */
@media(min-width:992px) {
    .footer-wrapper {
        justify-content: space-evenly;
    }
}