* {
    font-family: 'Montserrat', sans-serif;
}

/* Colors */
.red {
    color: #F51720;
}

.pink {
    color: #FA26A0;
}

.gold {
    color: #F8D210;
}

.cyan {
    color: #2FF3E0;
}

.grid-container {
    border: 2px solid #2FF3E0;
    padding: 2em;
    grid-gap: 10px;
    display: grid;
    align-content: center;
    grid-template-areas:
        "header header header header header header"
        "feat feat feat img img img"
        "main main main right right right"
        "footer footer footer footer footer footer";
}

.box {
    width: 100%;
    border: 1px solid pink;
}

header {
    border: 2px solid #FA26A0;
    padding: 2em;
    grid-area: hd;
}

.featured-image {
    grid-area: img;
    position: relative;
}

.feature {
    grid-area: feat;
}

article {
    border: 8px solid #F8D210;
    padding: 1rem;
}

.site-header {
    grid-area: header;
    display: flex;
}

.secondary-text {
    font-size: medium;
}

.brand {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.post {
    padding-top: 60px;
}


/* Phones */
@media (min-width: 200px) and (max-width: 799px) {
    .grid-container {
        grid-template-areas:
            "header header header header header header"
            "img img img img img img"
            "feat feat feat feat feat feat"
            "main main main main main main"
            "footer footer footer footer footer footer";
    }
}