* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

/* Colors */
.red {
    color: #F51720;
}

.pink {
    color: #FA26A0;
}

.gold {
    color: #F8D210;
}

.cyan {
    color: #2FF3E0;
}

.recent-posts {
    padding: 2em;
    grid-area: main;
}

.recipe-cards {
    display: flex;
    flex-direction: row;
} 

.grid-container {
    border: 2px solid #2FF3E0;
    grid-gap: 20px;
    display: grid;
    align-content: center;
    grid-template-areas:
        "img img feat feat feat feat"
        "main main main main main main";
}

.box {
    width: 100%;
    border: 1px solid pink;
}

header {
    border: 2px solid #FA26A0;
    padding: 2em;
    grid-area: hd;
}

.featured-image {
    grid-area: img;
}

.flexing {
    display: flex;
    padding: 4em;
}

.feature {
    grid-area: feat;
    padding: 2em;
}

article {
    border: 8px solid #F8D210;
    padding: 1rem;
}

.secondary-text {
    font-size: medium;
}

.brand {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.post {
    padding-top: 60px;
}


/* Phones */
@media (min-width: 200px) and (max-width: 799px) {
    .flexing {
        flex-direction: column;
    }

    .recipe-cards {
        flex-direction: column;
    }

    .grid-container {
        display: grid;
        grid-auto-flow: column;
        grid-template-areas:
            "img img img img img img"
            "feat feat feat feat feat feat"
            "main main main main main main";
    }
}